<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="img/favicon.png" type="image/png">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="./styles/nav.css" />
	<link rel="stylesheet" href="./styles/footer.css" />
	<link rel="stylesheet" href="./styles/card_slider.css" />
	<link rel="stylesheet" href="./styles/beq.css">
	<link rel="stylesheet" href="./styles/swiper_carousel.css">
	<link rel="stylesheet" href="./styles/aboutus_home.css">
	<link rel="stylesheet" href="./styles/styles.css" />
	<!-- <link rel="stylesheet" href="./styles/words.css" /> -->
	<title>Brabu Prints</title>
</head>

<body>

	<%- include('./partials/header.ejs') %>


		<div class="topButton">
			<a href="#home"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60"
					viewBox="0 0 172 172" style=" fill:#000000;">
					<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
						stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
						font-family="none" font-weight="none" font-size="none" text-anchor="none"
						style="mix-blend-mode: normal">
						<path d="M0,172v-172h172v172z" fill="none"></path>
						<g>
							<path
								d="M2.65391,86c0,-46.02344 37.32266,-83.34609 83.34609,-83.34609c46.02344,0 83.34609,37.32266 83.34609,83.34609c0,46.02344 -37.32266,83.34609 -83.34609,83.34609c-46.02344,0 -83.34609,-37.32266 -83.34609,-83.34609z"
								fill="#e74c3c"></path>
							<path
								d="M131.65391,86.70547c-12.63125,-12.63125 -25.2625,-25.2625 -37.89375,-37.89375c-3.82969,-3.82969 -10.17891,-3.69531 -13.94141,0.06719c-12.63125,12.63125 -25.2625,25.2625 -37.89375,37.89375c-9.00312,9.00313 5.00547,22.91094 14.04219,13.87422c10.27969,-10.27969 20.55937,-20.55938 30.87266,-30.87266c10.31328,10.31328 20.62656,20.62656 30.93984,30.93984c8.96953,9.03672 22.87734,-4.97187 13.87422,-14.00859z"
								fill="#ffffff"></path>
						</g>
					</g>
				</svg></a>
		</div>

		<section class="sliderFrontPage" id="home">
			<div class="spillDiv">
				<img draggable="false" class="spillImage3 layer1" src="img/favicon.png" alt="">
			</div>

			<div class="slideshow-container">

				<!-- Full-width images with number and caption text -->
				<% carouselArray.forEach(carouselFor=> { %>
					<div class="mySlides fade">
						<img class="image-img" src="<%= carouselFor.carousel_image %> " style="width:100%">
					</div>
					<% }); %>
						<!-- Next and previous buttons -->
						<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
						<a class="next" onclick="plusSlides(1)">&#10095;</a>
			</div>
			<br>
		</section>


		<section class="about-us-section" id="about">
			<div class="about-us-topic">
				<h1>About us</h1>
				<h2>Innovative Printing Made Easy</h2>
				<div class="about-us-ptag">
					<p>Quality Printing Solution for office corporate, school, college and home with affordable price.
						We
						always
						focus on customers satisfaction We put our maximum effort into each printing job as is each one
						is a
						special job. Brabu Print became a trusted printing brand name by our loyal customers. Our range
						of
						printing products. choice of printing materials, fast and quality print service, price, and
						location
						all
						together made us unique We believe in quality service and products.</p>
				</div>
			</div>

			<div class="aboutUsMainDiv">
				<div class="aboutUsFirstDiv aboutUsFirstDiv1">
					<div class="aboutUsFirstImage">
						<img src="../img/EP1A3512.jpg" alt="">
					</div>
					<div class="aboutUsFirstContent">
						<h1>Pamphelets/Flyers</h1>
						<p> Our Gloss/Matt or Silk finish Pamphlets are for promotional activity door-drops, hand-out,
							or vouchers Brabuprint has the perfect printing solution for you Our folded flyers are
							printed in full color and bring a smooth subtle feel to your message which can be printed on
							both sides We specialize in providing high quality fast and reliable folded flyer printing
							services to large/small print companies and to graphic designers across Tamilnadu.</p>
					</div>
				</div>
				<div class="aboutUsFirstDiv">
					<div class="aboutUsFirstContent">
						<h1>Brochures/Bi-Folds Tri-Folds</h1>
						<p> Let your business speak for itself with Our Brochure printing services. Use our
							tri-fold brochures or bi-fold brochures printing to put your best foot forward.
							Choose from unlimited colors that complement your brand and highlight the
							achievements of your business. Available in a variety of flexible folding or
							creasing options, Our corporate brochure printing services are just what your
							marketing material needs for the business Enthrall staff. clients and prospects
							alike with our high-quality business brochure printing services.</p>
					</div>
					<div class="aboutUsFirstImage aboutUsFirstImage2">
						<img src="../img/EP1A3514.jpg" alt="">
					</div>
				</div>
				<div class="aboutUsFirstDiv">
					<div class="aboutUsFirstImage">
						<img src="../img/EP1A3515.jpg" alt="">
					</div>
					<div class="aboutUsFirstContent">
						<h1>Packaging Box Prints</h1>
						<p> With our vast experience & knowledge in this field, we are engaged in providing a
							quality-assured Packaging Box Printing Service. High Quality and durable materials that can
							be used in Pharmaceutical Boxes, Soap & Cosmetics Packing, and also in Food Packing
							Purposes. Our wholesale packaging is printed on 330gsm cardboard paper either with gloss or
							matt outer and can be printed in a range of shapes and sizes. Paper printed packaging may
							come in 3 different shapes such as a square box rectangular box or pillow box, sizes between
							20mm to 200mm depending on your intended final use.</p>
					</div>
				</div>
			</div>
		</section>



		<section class="mediaQueryPageSwipe">
			<div class="pageSwipemediaQuery pageSwipeSmall">
				<div class="imagemediaQuery"></div>
				<h2 class="h2mediaQuery">Innovative Printing Made Easy</h2>
				<div class="pageSwipecontentmediaQuery">
					<p>
						Quality Printing Solution for office corporate, school, college and home with affordable
						price. We
						always focus on customers satisfaction We put our maximum effort into each printing job as
						is each
						one is a special job. Brabu Print became a trusted printing brand name by our loyal
						customers. Our
						range of printing products. choice of printing materials, fast and quality print service,
						price, and
						location all together made us unique We believe in quality service and products.
					</p>
				</div>
			</div>
			<div class="pageSwipemediaQuery pageSwipeSmall">
				<div class="imagemediaQuery"></div>
				<h2 class="h2mediaQuery">Pamphelets/Flyers</h2>
				<div class="pageSwipecontentmediaQuery">
					<p>
						Our Gloss/Matt or Silk finish Pamphlets are for promotional activity door-drops, hand-out,
						or
						vouchers Brabuprint has the perfect printing solution for you Our folded flyers are printed
						in full
						color and bring a smooth subtle feel to your message which can be printed on both sides We
						specialize in providing high quality fast and reliable folded flyer printing services to
						large/small
						print companies and to graphic designers across Tamilnadu.
					</p>
				</div>
			</div>
			<div class="pageSwipemediaQuery">
				<div class="imagemediaQuery"></div>
				<h2 class="h2mediaQuery">Brochures/Bi-Folds Tri-Folds</h2>
				<div class="pageSwipecontentmediaQuery">
					<p>
						Let your business speak for itself with Our Brochure printing services. Use our tri-fold
						brochures
						or bi-fold brochures printing to put your best foot forward. Choose from unlimited colors
						that
						complement your brand and highlight the achievements of your business. Available in a
						variety of
						flexible folding or creasing options, Our corporate brochure printing services are just what
						your
						marketing material needs for the business Enthrall staff. clients and prospects alike with
						our
						high-quality business brochure printing services.
					</p>
				</div>
			</div>
			<div class="pageSwipemediaQuery">
				<div class="imagemediaQuery"></div>
				<h2 class="h2mediaQuery">Packaging Box Prints</h2>
				<div class="pageSwipecontentmediaQuery">
					<p>
						With our vast experience & knowledge in this field, we are engaged in providing a
						quality-assured
						Packaging Box Printing Service. High Quality and durable materials that can be used in
						Pharmaceutical Boxes, Soap & Cosmetics Packing, and also in Food Packing Purposes. Our
						wholesale
						packaging is printed on 330gsm cardboard paper either with gloss or matt outer and can be
						printed in
						a range of shapes and sizes. Paper printed packaging may come in 3 different shapes such as
						a square
						box rectangular box or pillow box, sizes between 20mm to 200mm depending on your intended
						final use.
					</p>
				</div>
			</div>
		</section>


		<section class="mission-vision">
			<span class="mission-vision-span"></span>
			<div class="mission-vision-main-div">
				<div class="common-on-both mission">
					<h1>Mission</h1>
					<p> Our mission is to assist your business in attaining its full potential and ensuring long-term
						sustainability for all stakeholders. We strive for 100 percent client satisfaction. At Brabu
						Prints we've taken the consultation concept a stride forward at by giving a comprehensive
						management organisation with expertise that impacts your business. We also initate the stragetic
						business planning that collaborates with businesses on strategies for progress and expansion,
						such as environmental study, action to support, and appraisal.A great web marketing strategy
						won't save quite a bad product, but when combined with an excellent product, the possibilities
						are endless which enabled us also to provide campaigns for Digital Advertising</p>
				</div>
				<div class="common-on-both vision">
					<h1>Vision</h1>
					<p>We're Dedicated to Providing Growth Services
						Our goal is to deliver the perfect company growth services at the right time so that businesses
						can leverage on the momentum and thrive for a long time.  Every suggestion we make has a direct
						positive impact.
						You will become a significant corporate associate for us.</p>
				</div>
			</div>
		</section>

		<section class="parallax">
			<div class="leaf-div">
				<div class="leaf leaf-one">
					<h1 class="leaf-h1-one">Business</h1>
					<div class="leaf-content leaf-content-one">
						<p>Brabu Prints provides the most innovative and customized business services in the industry.
							Our
							Services section shows how flexible we are for all types of budgets.</span>
						</p>
					</div>
					<div class="button button-one">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
							stroke="white">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
						</svg>
					</div>
				</div>
				<div class="leaf leaf-two">
					<h1 class="leaf-h1-two">Expertise</h1>
					<div class="leaf-content leaf-content-two">
						<p>
						<ol>
							High quality is on top of our list when it comes to the way we deliver the
							services
							impact
							is what we look for in our actions
							<br>Maximum impact is what we look for in our actions
							<br>Quality standards are important but meant to
							be exceeded
							<br>We're always looking for industry leaders to
							help them win their market position
							<br>Evaluation is a key aspect of this business.
						</ol>
						</p>
					</div>
					<div class="button button-two">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
							stroke="white">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
						</svg>
					</div>
				</div>
				<div class="leaf leaf-three">
					<h1 class="leaf-h1-three">Quality</h1>
					<div class="leaf-content leaf-content-three">
						<p>
							We strive to achieve 100% customer satisfaction for both types of customers: hiring
							companies
							and
							job customers: with huge potential Our goal is to seekers. Types of helping your company
							achieve
							its
							full potential and establish long term stability for the stakeholders. It's easy to get a
							quotation,
							just call our office anytime We'll get back to you with an initial estimate soon Get ready
							to
							see
							results even after only 30 days Ask for a quote and start improving your business Just fill
							out
							the
							form and we'll call you right away.
						</p>
					</div>
					<div class="button button-three">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
							stroke="white">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
						</svg>
					</div>
				</div>
			</div>
		</section>

		<section id="services">
			<h1 class="heading1">OUR OTHER SERVICES</h1>
			<div class="ourOtherServices">
				<div class="boxServices boxServices1 frame">
					<div class="details">
						<h1 class="detailsH1Box">All Size Posters</h1>
					</div>
				</div>
				<div class="boxServices boxServices2 frame">
					<div class="details">
						<h1 class="detailsH1Box">Book Printing</h1>
					</div>
				</div>
				<div class="boxServices boxServices3 frame">
					<div class="details">
						<h1 class="detailsH1Box">Sticker & label Prints</h1>
					</div>
				</div>
				<div class="boxServices boxServices4 frame">
					<div class="details">
						<h1 class="detailsH1Box">Danglers</h1>
					</div>
				</div>
				<div class="boxServices boxServices5 frame">
					<div class="details">
						<h1 class="detailsH1Box">Invitation Cards</h1>
					</div>
				</div>
				<div class="boxServices boxServices6 frame">
					<div class="details">
						<h1 class="detailsH1Box">All Type of Calenders</h1>
					</div>
				</div>
			</div>
		</section>

		<section class="projectsMainSection" id="projects">
			<h1 class="heading1">Projects That We're Proud Of</h1>
			<div class="projectsMainDivFlex1">
				<div class="projectsSubDiv">
					<div class="projectsSubDivDetails">
						<h1>Online Banking</h1>
						<h3>Strategy Development</h3>
						<p>
							Need a solid foundation for your business growth plans? Brabu
							Prints will help you manage sales and meet your current needs By
							offering the best professional services and quality products in
							the market. Don't hesitate and get in touch with us.
							<i>Need a solid foundation for your business growth plans? Brabu
								Prints will help you manage sales and meet your current
								requirements.</i>
						</p>
					</div>
				</div>
				<div class="projectsSubDiv onetwo">
					<div class="projectsSubDivDetails">
						<h1>Classic Industry</h1>
						<h3>Strategy Development</h3>
						<p>
							Need a solid foundation for your business growth plans? Brabu
							Prints will help you manage sales and meet your current needs By
							offering the best professional services and quality products in
							the market. Don't hesitate and get in touch with us.
							<i>Need a solid foundation for your business growth plans? Brabu
								Prints will help you manage sales and meet your current
								requirements.</i>
						</p>
					</div>
				</div>
				<div class="projectsSubDiv">
					<div class="projectsSubDivDetails">
						<h1>BoomBap Audio</h1>
						<h3>Strategy Development</h3>
						<p>
							Need a solid foundation for your business growth plans? Brabu
							Prints will help you manage sales and meet your current needs By
							offering the best professional services and quality products in
							the market. Don't hesitate and get in touch with us.
							<i>Need a solid foundation for your business growth plans? Brabu
								Prints will help you manage sales and meet your current
								requirements.</i>
						</p>
					</div>
				</div>
				<div class="projectsSubDiv">
					<div class="projectsSubDivDetails">
						<h1>Van Moose</h1>
						<h3>Strategy Development</h3>
						<p>
							Need a solid foundation for your business growth plans? Brabu
							Prints will help you manage sales and meet your current needs By
							offering the best professional services and quality products in
							the market. Don't hesitate and get in touch with us.
							<i>Need a solid foundation for your business growth plans? Brabu
								Prints will help you manage sales and meet your current
								requirements.</i>
						</p>
					</div>
				</div>
			</div>
			<div class="projectsMainDivFlex2">
				<div class="projectsSubDiv">
					<div class="projectsSubDivDetails">
						<h1>Joy Moments</h1>
						<h3>Strategy Development</h3>
						<p>
							Need a solid foundation for your business growth plans? Brabu
							Prints will help you manage sales and meet your current needs By
							offering the best professional services and quality products in
							the market. Don't hesitate and get in touch with us.
							<i>Need a solid foundation for your business growth plans? Brabu
								Prints will help you manage sales and meet your current
								requirements.</i>
						</p>
					</div>
				</div>
				<div class="projectsSubDiv">
					<div class="projectsSubDivDetails">
						<h1>Spark Events</h1>
						<h3>Strategy Development</h3>
						<p>
							Need a solid foundation for your business growth plans? Brabu
							Prints will help you manage sales and meet your current needs By
							offering the best professional services and quality products in
							the market. Don't hesitate and get in touch with us.
							<i>Need a solid foundation for your business growth plans? Brabu
								Prints will help you manage sales and meet your current
								requirements.</i>
						</p>
					</div>
				</div>
				<div class="projectsSubDiv">
					<div class="projectsSubDivDetails">
						<h1>Casual Wear</h1>
						<h3>Strategy Development</h3>
						<p>
							Need a solid foundation for your business growth plans? Brabu
							Prints will help you manage sales and meet your current needs By
							offering the best professional services and quality products in
							the market. Don't hesitate and get in touch with us.
							<i>Need a solid foundation for your business growth plans? Brabu
								Prints will help you manage sales and meet your current
								requirements.</i>
						</p>
					</div>
				</div>
				<div class="projectsSubDiv">
					<div class="projectsSubDivDetails">
						<h1>Zazoo Apps</h1>
						<h3>Strategy Development</h3>
						<p>
							Need a solid foundation for your business growth plans? Brabu
							Prints will help you manage sales and meet your current needs By
							offering the best professional services and quality products in
							the market. Don't hesitate and get in touch with us.
							<i>Need a solid foundation for your business growth plans? Brabu
								Prints will help you manage sales and meet your current
								requirements.</i>
						</p>
					</div>
				</div>
			</div>
		</section>


		<section class="contactSection">
			<h1 class="contactUsH1">Contact Us</h1>
			<div class="contactDetail">
				<div class="map">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3942.797977383323!2d78.1425446056443!3d8.805041502071798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b03ef9774172607%3A0xbad6cc22cf2dc488!2sBrabu%20Print!5e0!3m2!1sen!2sin!4v1633244025372!5m2!1sen!2sin"
						style="border: 0" allowfullscreen="" loading="lazy"></iframe>
				</div>
				<div class="contactInput">
					<a class="infoBtn call" href="tel:8754844505">Call Us</a>
					<!-- <a class="infoBtn call" href="tel:8754844506">Call Us</a> -->
					<a class="infoBtn contact" href="mailto:brabuprint@gmail.com">Mail Us</a>
				</div>
			</div>
		</section>

		<section class="shortSection" id="clients">
			<h1 class="shortSectionH1">Our Clients</h1>
			<div class="imagesShortSection">
				<div class="imagesShortSection-div">
					<% clientArray.forEach(clientFor=> { %>
						<img class="imageImgSection" src="<%= clientFor.client_logo %> " alt="">
						<% }); %>
				</div>
			</div>
		</section>

		<section class="ourTeamSection">
			<div class="ourTeam">
				<h1 class="heading1">Our Team Of Consultants</h1>
				<p class="ourTeamParagraph">
					We're only as strong and as knowledgeable as our team. So here are the
					men and women which help customers meet goals and grow companies
				</p>
			</div>
			<div class="our-team-div">
				<div class="our-team-main-div">
					<% teamArray.forEach(teamFor=> { %>
						<div class="our-team-all-div">
							<div class="team-image">
								<img class="team-image-img" src="<%= teamFor.team_image %>" alt="">
							</div>
							<div class="team-name">
								<h1>
									<%= teamFor.team_name %>
								</h1>
							</div>
							<div class="team-job">
								<h3>
									<%= teamFor.team_job %>
								</h3>
							</div>
						</div>
						<% }); %>
				</div>
			</div>
		</section>


		<footer>
			<div class="footerclass">
				<h1>Bra<span>bupri</span>nts</h1>
				<h3>You Can Reach Us At</h3>
				<p class="footerptag">Address</p>
				<p><i>1/555, Mappilaiurani main road, Tutitcorin - 628002</i></p>
				<div class="iconsSocial">
					<a href=""><i class="fab fa-facebook"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</footer>

		<script src="./javascript/aboutus_home.js"></script>
		<script src="./javascript/swiper_carousel.js"></script>
		<script src="./javascript/nav.js"></script>
		<script src="./javascript/beq.js"></script>
		<!-- <script src="./javascript/gsap.js"></script> -->
</body>

</html>